*{
    margin: 0;
    padding: 0;
}
@mixin top-left($top, $bottom, $left, $right) {
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}
@keyframes moving{
    0%{
        opacity: 1;
    }
    33%{
        opacity: 0.7;
    }
    66%{
        opacity: 0.4;
    }
    100%{
        opacity: 0.1;
    }
}
@keyframes moving-a{
    0%{
        opacity: 0.1;
    }
    33%{
        opacity: 1;
    }
    66%{
        opacity: 0.7;
    }
    100%{
        opacity: 0.4;
    }
}
@keyframes moving-b{
    0%{
        opacity: 0.4;
    }
    33%{
        opacity: 0.1;
    }
    66%{
        opacity: 1;
    }
    100%{
        opacity: 0.7;
    }
}
@keyframes moving-c{
    0%{
        opacity: 0.7;
    }
    33%{
        opacity: 0.4;
    }
    66%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
main{
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;

    &>#box{
        width: 500px;
        height: 500px;

        position: absolute;
    }
    &>#box:nth-child(1){
        @include top-left(0, inherit, 10%, inherit);
        background-color: palevioletred;
        animation: 1s moving infinite;
    }
    &>#box:nth-child(2){
        @include top-left(inherit, 0, inherit, 10%);
        background-color: paleturquoise;
        animation: 1s moving-b infinite;
    }
    &>#box:nth-child(3){
        @include top-left(inherit, 10%, 0, inherit);
        background-color: palegoldenrod;
        animation: 1s moving-a infinite;
    }
    &>#box:nth-child(4){
        @include top-left(10%, inherit, inherit, 0);
        background-color: palegreen;
        animation: 1s moving-c infinite;
    }
}