*{margin: 0;padding: 0;}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #mob-box{
        width: 428px;
        height: 926px;
        border: 1px solid #c4c4c4;

        #mob{
            width: 90%;
            height: 100%;
            margin: 0 auto;
            border: 1px solid;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            #icon{
                width: 50px;
                height: 50px;
                border: 1px solid;
                position: relative;

                div{
                    width: 50px;
                    height: 10px;
                    position: absolute;
                    background-color: #b4b4b4;
                    border-radius: 30px;
                    top: 25%;
                    left: 0;
                    transform: rotate(90deg);
                }
                div:nth-child(2){
                    top: 25%;
                    transform: rotate(0);
                }
            }
        }
    }
}