*{
  margin: 0;
  padding: 0;
}

#root{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

#abso-box{
  position: inherit;
  top: 0;
  transform: translateX(0%);
}

#box{
  width: 100vw;
  position: relative;
  margin: 0 auto;
  height: 500px;

  >div{
    border-radius: 50%;
    position: absolute;
  }

  #cir{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 148, 148);

    position: absolute;
    transform: translateY(20%);
    top: 0;
    left: 20%;
  }
  #cir-border{
    border: 10px solid rgb(235, 235, 81);
    width: 400px;
    height: 400px;

    position: absolute;
    transform: translateY(50%);
    right: 10%;
  }
  #list{
    margin-left: 20px;
    height: fit-content;
    width: 100px;
    height: 500px;
    
    display: flex;
    flex-direction: column-reverse;

    div{
      width: 30px;
      height: 30px;
      background-color: #777;
      margin: 10px auto;
      border-radius: 50%;
    }
  }
}

#card-box{
  width: 90%;
  margin: 10px auto;

  
  #card{
    width: 100%;
    border-radius: 30px;
    // background-color: #555;
    backdrop-filter: blur(50px) brightness(.9);
    margin: 10px auto;
    margin-bottom: 0;

    font-size: 2rem;
    line-height: 80px;
    
    h1{
      width: 90%;
      margin: 0 auto;
      color: #ddd;
      padding: 10px;
    }
  }
}