*{margin: 0;padding: 0;}
ul, li{
  list-style: none;
  text-decoration: none;
}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub-box{
  display: flex;
}
#main{
  display: flex;
}
#main > li{
  background-color: #999;
}
#sub{
  visibility: hidden;
}
#sub > li{
  background-color: #555;
}

ul > li{
  display: block;
  width: 100px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}